Repository rawshanoff/medx-021-releases: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-backend, black-backend, eslint-frontend, prettier-frontend

ruff-backend:
  name: ruff (backend)
  entry: ruff check backend --fix
  language: python
  additional_dependencies:
  - ruff

black-backend:
  name: black (backend)
  entry: black backend
  language: python
  additional_dependencies:
  - black

eslint-frontend:
  name: eslint (frontend)
  entry: npm --prefix frontend run lint
  language: system
  pass_filenames: false

prettier-frontend:
  name: prettier (frontend)
  entry: npx --prefix frontend prettier --write
  language: system
  pass_filenames: true

feat: complete i18n localization - remove hardcoded strings
  frontend/src/locales/en.json
  frontend/src/locales/ru.json
  frontend/src/locales/uz.json
  frontend/src/pages/Archive.tsx
  frontend/src/pages/System.tsx
Due: eslint-frontend, prettier-frontend

feat: add i18n completeness check script
  scripts/check_i18n.py
Due: none

feat: implement auto-update system with notifications
  VERSION
  frontend/src/components/Topbar.tsx
Due: eslint-frontend, prettier-frontend

feat: add comprehensive database performance indexes
  backend/alembic/versions/b49fa69ead33_add_performance_indexes.py
Due: ruff-backend, black-backend

docs: add comprehensive testing checklist and final assessment
  TESTING_CHECKLIST.md
Due: none

Phase 2: Add audit logging for system settings
  backend/alembic/env.py
  backend/alembic/versions/ed29b7bff4b1_add_system_audit_log_table.py
  backend/modules/system/models.py
  backend/modules/system/router.py
  backend/modules/users/models.py
Due: ruff-backend, black-backend

Phase 3: Add rollback functionality for system settings
  backend/modules/system/router.py
  backend/modules/system/schemas.py
Due: ruff-backend, black-backend

Phase 3: Add backend validation for system settings
  backend/modules/system/router.py
Due: ruff-backend, black-backend

docs: Add comprehensive system settings implementation guide
  docs/SYSTEM_SETTINGS_COMPLETE.md
Due: none

feat: Add Settings History UI component
  frontend/src/components/ui/setting-history.tsx
  frontend/src/pages/System.tsx
Due: eslint-frontend, prettier-frontend

feat: Add settings history to receipt section modal
  frontend/src/pages/System.tsx
Due: eslint-frontend, prettier-frontend

docs: Add frontend settings UI implementation guide
  docs/FRONTEND_SETTINGS_UI.md
Due: none

test: Add comprehensive testing suite and results
  docs/TESTING_PLAN_SYSTEM_SETTINGS.md
  test_system_settings.py
Due: none

docs: Add project completion summary
  docs/PROJECT_COMPLETION_SUMMARY.md
Due: none

fix(backend): stabilize migrations, licensing, and config
  .env.example
  .gitignore
  .pre-commit-config.yaml
  backend/alembic.ini
  backend/alembic/env.py
  backend/alembic/versions/0c3a86a9ac61_soft_delete.py
  backend/alembic/versions/27f967d47a96_patient_files_and_telegram.py
  backend/alembic/versions/5e5c06f3bd64_add_queueitem_and_auditlog.py
  backend/alembic/versions/88859223fa53_soft_delete_more_tables.py
  backend/alembic/versions/b49fa69ead33_add_performance_indexes.py
  backend/alembic/versions/c57ce24ff60c_finance_audit_log.py
  backend/alembic/versions/d5924ca6a084_placeholder_missing_revision.py
  backend/alembic/versions/d7c1a2b3c4d5_doctor_room_number.py
  backend/alembic/versions/ed29b7bff4b1_add_system_audit_log_table.py
  backend/alembic/versions/f123456789ab_add_idempotency_key.py
  backend/alembic/versions/g234567890cd_add_related_tx_id.py
  backend/core/config.py
  backend/core/licenses.py
  backend/main.py
  backend/modules/doctors/models.py
  backend/modules/doctors/router.py
  backend/modules/doctors/schemas.py
  backend/modules/files/router.py
  backend/modules/finance/models.py
  backend/modules/finance/router.py
  backend/modules/finance/schemas.py
  backend/modules/patients/router.py
  backend/modules/reception/models.py
  backend/modules/reception/router.py
  backend/modules/system/models.py
  backend/modules/system/router.py
  backend/modules/system/schemas.py
  backend/modules/users/models.py
  backend/modules/users/router.py
  backend/tests/conftest.py
  start_backend.bat
Due: ruff-backend, black-backend

feat(frontend): add audit log UI and test coverage setup
  TESTING_CHECKLIST.md
  docs/SYSTEM_FIXES_PLAN.md
  docs/TESTING_SETUP.md
  frontend/.env.example
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/api/client.ts
  frontend/src/context/ToastContext.tsx
  frontend/src/features/reception/PaymentCells.tsx
  frontend/src/features/reception/QueueSidebar.tsx
  frontend/src/locales/en.json
  frontend/src/locales/ru.json
  frontend/src/locales/uz.json
  frontend/src/pages/Activation.tsx
  frontend/src/pages/Doctors.tsx
  frontend/src/pages/Finance.tsx
  frontend/src/pages/Reception.tsx
  frontend/src/pages/System.tsx
  frontend/src/pages/SystemAuditLog.tsx
  frontend/src/test/setup.ts
  frontend/src/types/doctors.ts
  frontend/src/types/users.ts
  frontend/src/utils/auth.test.ts
  frontend/src/utils/print.test.ts
  frontend/src/utils/print.ts
  frontend/vite.config.ts
  frontend/vitest.config.ts
  test_system_settings.py
Due: eslint-frontend, prettier-frontend

MVP Ready: Retry logic, error handling, E2E tests, file validation
  README.md
  backend/core/licenses.py
  backend/modules/files/router.py
  backend/tests/integration/smoke/test_smoke.py
  docs/MVP_READY_CHECKLIST.md
  docs/MVP_to_Start.md
  frontend/e2e/smoke.spec.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright.config.ts
  frontend/src/api/client.ts
  frontend/src/pages/Finance.tsx
  frontend/src/pages/Reception.tsx
Due: ruff-backend, black-backend, eslint-frontend, prettier-frontend

Add MVP completion summary
  docs/MVP_COMPLETE_SUMMARY.md
Due: none

Fix: Reception.tsx addToQueue syntax error
  frontend/src/pages/Reception.tsx
Due: eslint-frontend, prettier-frontend

init: add README
  README.md
Due: none

chore: publish latest.json
  latest.json
Due: none

chore: bump latest to v1.0.4-mvp
  latest.json
Due: none

chore: bump latest to v1.0.5-mvp
  latest.json
Due: none

chore: bump latest to v1.0.6-mvp
  latest.json
Due: none

chore: bump latest to v1.0.7-mvp
  latest.json
Due: none

chore: bump latest to v1.0.8-mvp
  latest.json
Due: none

chore: bump latest to v1.0.9-mvp
  latest.json
Due: none

chore: bump latest to v1.0.10-mvp
  latest.json
Due: none

chore: bump latest to v1.0.11-mvp
  latest.json
Due: none

chore: bump latest to v1.0.12-mvp
  latest.json
Due: none

chore: bump latest to v1.0.13-mvp
  latest.json
Due: none

chore: bump latest to v1.0.14-mvp
  latest.json
Due: none

chore: bump latest to v1.0.15-mvp
  latest.json
Due: none

chore: bump latest to v1.0.16-mvp
  latest.json
Due: none

chore: bump latest to v1.0.17-mvp
  latest.json
Due: none

chore: bump latest to v1.0.18-mvp
  latest.json
Due: none

chore: bump latest to v1.0.19-mvp
  latest.json
Due: none

chore: bump latest to v1.0.20-mvp
  latest.json
Due: none

chore: bump latest to v1.0.21-mvp
  latest.json
Due: none

chore: bump latest to v1.0.22-mvp
  latest.json
Due: none

Path conditions:
  ruff-backend: any of: ^backend/ and \.py$
  black-backend: any of: ^backend/ and \.py$
  eslint-frontend: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  prettier-frontend: any of: ^frontend/src/.*\.(ts|tsx|js|jsx|css|md|json)$
