Repository rawshanoff/medx-021-releases: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-backend, black-backend, eslint-frontend, prettier-frontend

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-backend
        name: ruff (backend)
        entry: ruff check backend --fix
        language: python
        additional_dependencies: ["ruff"]
        types: [python]
        files: ^backend/

      - id: black-backend
        name: black (backend)
        entry: black backend
        language: python
        additional_dependencies: ["black"]
        types: [python]
        files: ^backend/

      - id: eslint-frontend
        name: eslint (frontend)
        entry: npm --prefix frontend run lint
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx|js|jsx)$

      - id: prettier-frontend
        name: prettier (frontend)
        entry: npx --prefix frontend prettier --write
        language: system
        pass_filenames: true
        files: ^frontend/src/.*\.(ts|tsx|js|jsx|css|md|json)$

style: improve reports page readability
  frontend/src/pages/Reports.tsx
Due: eslint-frontend, prettier-frontend

style: improve system page sizing
  frontend/src/pages/System.tsx
Due: eslint-frontend, prettier-frontend

style: improve doctors page readability
  frontend/src/pages/Doctors.tsx
Due: eslint-frontend, prettier-frontend

style: improve dark theme contrast
  frontend/src/globals.css
Due: prettier-frontend

style: improve small text readability
  frontend/src/components/MixedPaymentModal.tsx
  frontend/src/components/Sidebar.tsx
  frontend/src/components/ui/modal.tsx
Due: eslint-frontend, prettier-frontend

style: improve secondary text readability
  frontend/src/pages/Activation.tsx
  frontend/src/pages/Reception.tsx
Due: eslint-frontend, prettier-frontend

style: improve dark theme small text
  frontend/src/pages/Patients.tsx
  frontend/src/pages/System.tsx
Due: eslint-frontend, prettier-frontend

style: raise table header text
  frontend/src/features/reception/PatientList.tsx
  frontend/src/pages/Patients.tsx
  frontend/src/pages/System.tsx
Due: eslint-frontend, prettier-frontend

style: increase small modal text
  frontend/src/pages/Patients.tsx
Due: eslint-frontend, prettier-frontend

style: improve small text readability
  frontend/src/pages/Doctors.tsx
  frontend/src/pages/Reception.tsx
Due: eslint-frontend, prettier-frontend

fix: align frontend deps and refs for build
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/pages/Patients.tsx
  frontend/src/pages/Reception.tsx
Due: eslint-frontend, prettier-frontend

chore: ignore pytest cache
  .gitignore
Due: none

chore: ignore ruff cache
  .gitignore
Due: none

docs: update current status
  docs/CURRENT_STATUS.md
Due: none

docs: archive i18n phase2 notes and task list
  docs/README.md
  docs/archive/I18N_PHASE2_UPDATES.md
  docs/archive/task.md
Due: none

style: add electron viewport and desktop overrides
  frontend/index.html
  frontend/src/electron-overrides.css
  frontend/src/main.tsx
Due: eslint-frontend, prettier-frontend

style: improve dark theme contrast and small text
  frontend/src/components/ui/badge.tsx
  frontend/src/features/reception/QueueSidebar.tsx
  frontend/src/globals.css
Due: eslint-frontend, prettier-frontend

style: bump sidebar avatar text size
  frontend/src/components/Sidebar.tsx
Due: eslint-frontend, prettier-frontend

style: boost dark theme surface contrast
  frontend/src/globals.css
Due: prettier-frontend

style: improve primary button contrast in dark theme
  frontend/src/globals.css
Due: prettier-frontend

style: increase queue status badge text size
  frontend/src/features/reception/QueueSidebar.tsx
Due: eslint-frontend, prettier-frontend

fix: add missing finance i18n keys
  frontend/src/locales/en.json
  frontend/src/locales/ru.json
  frontend/src/locales/uz.json
Due: prettier-frontend

style: fix sidebar bullets and widen finance layout
  frontend/src/components/Sidebar.tsx
  frontend/src/pages/Finance.tsx
Due: eslint-frontend, prettier-frontend

style: keep reception two-column layout in electron
  frontend/src/pages/Reception.tsx
Due: eslint-frontend, prettier-frontend

style: lock system and reports grids for electron
  frontend/src/pages/Reports.tsx
  frontend/src/pages/System.tsx
Due: eslint-frontend, prettier-frontend

style: remove default list markers in app
  frontend/src/globals.css
Due: prettier-frontend

docs: record electron ui/ux progress
  docs/CURRENT_STATUS.md
Due: none

chore: add db performance indexes
  backend/alembic/versions/b49fa69ead33_add_performance_indexes.py
Due: ruff-backend, black-backend

fix: validate transaction amounts and patient phones
  backend/modules/finance/schemas.py
  backend/modules/patients/schemas.py
Due: ruff-backend, black-backend

fix: serialize shift operations to avoid races
  backend/modules/finance/router.py
Due: ruff-backend, black-backend

refactor: reuse appointments list implementation
  backend/modules/appointments/router.py
Due: ruff-backend, black-backend

chore: move docs to docs folder and update .gitignore
  .gitignore
  docs/AGENTS.md
  docs/AGENT_PLAN.md
  docs/CURSOR_AGENT_PLAN.md
  docs/CURSOR_AGENT_PLAN_SUMMARY.md
Due: none

style: increase font sizes for better readability
  frontend/src/components/ui/card.tsx
  frontend/src/pages/Login.tsx
Due: eslint-frontend, prettier-frontend

style: improve dark theme contrast for WCAG 4.5+ compliance
  frontend/src/globals.css
Due: prettier-frontend

style: increase spacing for better touch targets and readability
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/modal.tsx
  frontend/src/pages/Reception.tsx
Due: eslint-frontend, prettier-frontend

style: increase table row height to 48px for better readability
  frontend/src/features/reception/PatientList.tsx
  frontend/src/features/reception/ResultRow.tsx
  frontend/src/pages/Doctors.tsx
  frontend/src/pages/Patients.tsx
  frontend/src/pages/System.tsx
Due: eslint-frontend, prettier-frontend

style: increase button/input heights to 48px minimum for better touch targets
  frontend/src/components/ui/button.tsx
  frontend/src/pages/Doctors.tsx
  frontend/src/pages/Patients.tsx
  frontend/src/pages/System.tsx
Due: eslint-frontend, prettier-frontend

feat: implement refund payment functionality
  backend/modules/finance/router.py
  backend/modules/finance/schemas.py
Due: ruff-backend, black-backend

feat: implement receipt printing endpoint
  backend/modules/finance/router.py
  backend/modules/finance/schemas.py
Due: ruff-backend, black-backend

feat: implement archive system for soft-deleted records
  backend/modules/doctors/router.py
  backend/modules/patients/router.py
  backend/modules/users/router.py
  docs/FRONTEND_ANALYSIS.md
  docs/FULL_AGENT_PLAN.md
  frontend/src/App.tsx
  frontend/src/components/Layout.tsx
  frontend/src/components/Sidebar.tsx
  frontend/src/components/Topbar.tsx
  frontend/src/features/reception/PatientSearch.tsx
  frontend/src/locales/en.json
  frontend/src/locales/ru.json
  frontend/src/locales/uz.json
  frontend/src/pages/Archive.tsx
  frontend/src/pages/Finance.tsx
  frontend/src/pages/Reports.tsx
  frontend/tailwind.config.cjs
Due: ruff-backend, black-backend, eslint-frontend, prettier-frontend
