Repository rawshanoff/medx-021-releases: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-backend, black-backend, eslint-frontend, prettier-frontend

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-backend
        name: ruff (backend)
        entry: ruff check backend --fix
        language: python
        additional_dependencies: ["ruff"]
        types: [python]
        files: ^backend/

      - id: black-backend
        name: black (backend)
        entry: black backend
        language: python
        additional_dependencies: ["black"]
        types: [python]
        files: ^backend/

      - id: eslint-frontend
        name: eslint (frontend)
        entry: npm --prefix frontend run lint
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx|js|jsx)$

      - id: prettier-frontend
        name: prettier (frontend)
        entry: npx --prefix frontend prettier --write
        language: system
        pass_filenames: true
        files: ^frontend/src/.*\.(ts|tsx|js|jsx|css|md|json)$

chore: bump latest to v1.0.23-mvp
  latest.json
Due: none

chore: bump latest to v1.0.24-mvp
  latest.json
Due: none

chore: bump latest to v1.0.25-mvp
  latest.json
Due: none

Fix reception focus styling and refund payment info display.
  frontend/src/components/MixedPaymentModal.tsx
  frontend/src/features/reception/ResultRow.tsx
  frontend/src/pages/Reception.tsx
Due: eslint-frontend, prettier-frontend

Update latest release to 1.0.26-mvp
  latest.json
Due: none

Fix refund modal info typing
  frontend/src/pages/Reception.tsx
Due: eslint-frontend, prettier-frontend

Fix system settings UX and translations
  frontend/src/components/Topbar.tsx
  frontend/src/locales/en.json
  frontend/src/locales/ru.json
  frontend/src/locales/uz.json
  frontend/src/pages/System.tsx
  frontend/src/pages/SystemSettingsPage.tsx
  frontend/src/utils/print.ts
Due: eslint-frontend, prettier-frontend

Fix system requisites focus and switch visibility
  frontend/src/components/ui/switch.tsx
  frontend/src/pages/System.tsx
  frontend/src/pages/SystemSettingsPage.tsx
Due: eslint-frontend, prettier-frontend

chore: bump latest to v1.0.27-mvp
  latest.json
Due: none

Fix system requisites focus and receipt toggles
  frontend/src/pages/SystemSettingsPage.tsx
Due: eslint-frontend, prettier-frontend

chore: bump latest to v1.0.28-mvp
  latest.json
Due: none

Fix queue range, service inputs, and required fields
  backend/modules/reception/router.py
  backend/modules/system/router.py
  frontend/src/features/doctors/DoctorListItem.tsx
  frontend/src/features/reception/QueueSidebar.tsx
  frontend/src/features/reception/hooks/useQueue.ts
  frontend/src/locales/en.json
  frontend/src/locales/ru.json
  frontend/src/locales/uz.json
  frontend/src/pages/Patients.tsx
  frontend/src/pages/Reception.tsx
  frontend/src/pages/SystemSettingsPage.tsx
  frontend/src/utils/patientRequiredFields.ts
Due: ruff-backend, black-backend, eslint-frontend, prettier-frontend

Fix queue TV refresh after queue range update
  frontend/src/pages/QueueTV.tsx
Due: eslint-frontend, prettier-frontend

chore: bump latest to v1.0.29-mvp
  latest.json
Due: none

Add quick receipts settings and buttons
  backend/modules/system/router.py
  frontend/src/locales/en.json
  frontend/src/locales/ru.json
  frontend/src/locales/uz.json
  frontend/src/pages/Reception.tsx
  frontend/src/pages/SystemSettingsPage.tsx
  frontend/src/utils/quickReceipts.ts
Due: ruff-backend, black-backend, eslint-frontend, prettier-frontend

Fix quick receipts runtime errors
  frontend/src/pages/Reception.tsx
  frontend/src/pages/SystemSettingsPage.tsx
Due: eslint-frontend, prettier-frontend

chore: bump latest to v1.0.30-mvp
  latest.json
Due: none

Reorganize system settings layout and actions.
  backend/modules/finance/router.py
  backend/modules/reception/router.py
  backend/modules/system/router.py
  backend/modules/system/schemas.py
  frontend/src/locales/en.json
  frontend/src/locales/ru.json
  frontend/src/locales/uz.json
  frontend/src/pages/Finance.tsx
  frontend/src/pages/Reception.tsx
  frontend/src/pages/SystemSettingsPage.tsx
  frontend/src/utils/print.ts
Due: ruff-backend, black-backend, eslint-frontend, prettier-frontend

chore: bump latest to v1.0.41-mvp
  latest.json
Due: none

ci: auto-create GitHub Release on push to main when latest.json changes
  .github/workflows/release-on-push.yml
Due: none

chore: trigger release workflow for 1.0.43-mvp
  latest.json
Due: none

fix: add contents:write permission, remove invalid update_existing
  .github/workflows/release-on-push.yml
  latest.json
Due: none

Update latest.json to 1.0.44-mvp
  latest.json
Due: none

Update latest.json to 1.0.45-mvp (migration fix)
  latest.json
Due: none
