Repository rawshanoff/medx-021-releases: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-backend, black-backend, eslint-frontend, prettier-frontend

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-backend
        name: ruff (backend)
        entry: ruff check backend --fix
        language: python
        additional_dependencies: ["ruff"]
        types: [python]
        files: ^backend/

      - id: black-backend
        name: black (backend)
        entry: black backend
        language: python
        additional_dependencies: ["black"]
        types: [python]
        files: ^backend/

      - id: eslint-frontend
        name: eslint (frontend)
        entry: npm --prefix frontend run lint
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx|js|jsx)$

      - id: prettier-frontend
        name: prettier (frontend)
        entry: npx --prefix frontend prettier --write
        language: system
        pass_filenames: true
        files: ^frontend/src/.*\.(ts|tsx|js|jsx|css|md|json)$

fix(doctors): allow updating queue prefix
  backend/modules/doctors/router.py
  backend/modules/doctors/schemas.py
  backend/tests/test_doctors.py
Due: ruff-backend, black-backend

test(doctors): cover delete and validation
  backend/tests/test_doctors.py
  frontend/src/pages/Doctors.tsx
Due: ruff-backend, black-backend, eslint-frontend, prettier-frontend

fix(doctors): validate service inputs
  backend/modules/doctors/schemas.py
  backend/tests/test_doctors.py
  frontend/src/pages/Doctors.tsx
Due: ruff-backend, black-backend, eslint-frontend, prettier-frontend

Р­С‚Р°Рї 1: РџРѕРґРіРѕС‚РѕРІРєР° Рё Р§РёСЃС‚РєР° - СѓРґР°Р»РµРЅС‹ РґСѓР±Р»РёРєР°С‚С‹ РґРѕРєСѓРјРµРЅС‚Р°С†РёРё, РѕР±РЅРѕРІР»РµРЅС‹ Р·Р°РІРёСЃРёРјРѕСЃС‚Рё
  AGENT_PLAN.md
  backend/alembic/versions/0c3a86a9ac61_soft_delete.py
  backend/core/database.py
  backend/modules/appointments/models.py
  backend/modules/appointments/router.py
  backend/modules/doctors/models.py
  backend/modules/doctors/router.py
  backend/modules/patients/models.py
  backend/modules/patients/router.py
  backend/modules/users/models.py
  backend/modules/users/router.py
  backend/requirements.txt
  backend/tests/test_appointments.py
  backend/tests/test_doctors.py
  backend/tests/test_reception_queue.py
  docs/Backup_and_Restore.md
  docs/DEVELOPMENT_STRATEGY.md
  docs/FRONTEND_IMPROVEMENT_PLAN.md
  docs/Free_vs_Paid.md
  docs/MVP_Analysis.md
  docs/Paid_Module_Files_Telegram.md
  docs/Pilot_Scenario_Clinic_Day.md
  docs/README.md
  docs/System_Design.md
  docs/task.md
  docs/Архитектура.md
  frontend/package.json
  frontend/src/features/reception/hooks/usePatients.ts
  frontend/src/pages/Patients.tsx
Due: ruff-backend, black-backend, eslint-frontend, prettier-frontend

Р­С‚Р°Рї 3: Р¤СѓРЅРґР°РјРµРЅС‚ Р¤СЂРѕРЅС‚РµРЅРґР° - СѓРїСЂРѕС‰РµРЅР° СЃС‚СЂСѓРєС‚СѓСЂР° i18n, СѓР±СЂР°РЅРѕ РґСѓР±Р»РёСЂРѕРІР°РЅРёРµ РїРµСЂРµРІРѕРґРѕРІ
  frontend/src/i18n.ts
Due: eslint-frontend, prettier-frontend

Stage 5: Queue TV page created with large numbers and sound notifications
  frontend/src/App.tsx
  frontend/src/locales/en.json
  frontend/src/locales/ru.json
  frontend/src/locales/uz.json
  frontend/src/pages/QueueTV.tsx
Due: eslint-frontend, prettier-frontend

Stage 6: Infrastructure - improved update mechanism and backup script
  .env.example
  backend/core/config.py
  backend/core/updater.py
  backend/modules/system/router.py
  backend/modules/system/schemas.py
  scripts/backup_postgres.bat
  scripts/updater.py
Due: ruff-backend, black-backend

Add comprehensive project analysis with strengths, weaknesses and improvement recommendations
  docs/PROJECT_ANALYSIS.md
Due: none

Security: Fix CORS, add Rate Limiting, DB version check, default password check
  .env.example
  backend/core/config.py
  backend/core/database.py
  backend/core/rate_limit.py
  backend/main.py
  backend/modules/auth/__init__.py
  backend/requirements.txt
Due: ruff-backend, black-backend

Update PROJECT_ANALYSIS: reflect recent security and performance fixes
  docs/PROJECT_ANALYSIS.md
Due: none

Stage 1.1: Move docs and fix SoftDeleteMixin - Move documentation files from frontend/ to docs/ - Fix soft_delete() method to use datetime.now(timezone.utc)
  backend/core/database.py
  backend/modules/appointments/router.py
  backend/modules/reception/router.py
  docs/I18N_PHASE2_UPDATES.md
  docs/QUICK_I18N_FIX.md
  docs/i18n_updates.md
Due: ruff-backend, black-backend

Stage 1.2: Update psycopg2-binary to latest patch version
  backend/requirements.txt
Due: none

Stage 2.1: Fix security and improve API - Remove hardcoded default password from config - Fix user update/delete endpoints to check deleted_at - Improve role-based redirects comments
  backend/core/config.py
  backend/modules/auth/__init__.py
  backend/modules/users/router.py
  frontend/src/pages/Login.tsx
Due: ruff-backend, black-backend, eslint-frontend, prettier-frontend

Stage 6.2: Add backup setup documentation - Add Windows Task Scheduler setup guide - Document daily backup configuration - Include environment variables setup - Add backup rotation info
  docs/BACKUP_SETUP.md
Due: none

docs: add current status and archive legacy i18n notes
  docs/CURRENT_STATUS.md
  docs/README.md
  docs/archive/QUICK_I18N_FIX.md
  docs/archive/i18n_updates.md
Due: none

style: bump base typography scale for Electron
  frontend/src/globals.css
  frontend/tailwind.config.cjs
Due: prettier-frontend

fix: allow Electron dev origin in CORS
  backend/core/config.py
Due: ruff-backend, black-backend

chore: unblock eslint by removing setState-in-effect patterns
  frontend/src/components/MixedPaymentModal.tsx
  frontend/src/features/reception/hooks/useQueue.ts
  frontend/src/pages/Patients.tsx
  frontend/src/pages/QueueTV.tsx
  frontend/src/pages/Reception.tsx
Due: eslint-frontend, prettier-frontend

style: enlarge core UI controls for Electron
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/card.tsx
  frontend/src/components/ui/input.tsx
Due: eslint-frontend, prettier-frontend

style: add PageContainer and improve Login readability
  frontend/src/components/PageContainer.tsx
  frontend/src/pages/Login.tsx
Due: eslint-frontend, prettier-frontend

style: make Login layout deterministic in Electron
  frontend/src/components/PageContainer.tsx
  frontend/src/pages/Login.tsx
Due: eslint-frontend, prettier-frontend

style: polish login inputs and primary button
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/pages/Login.tsx
Due: eslint-frontend, prettier-frontend

style: align Login with modern mockup
  frontend/src/pages/Login.tsx
Due: eslint-frontend, prettier-frontend

style: make Login controls visible and fix icon spacing
  frontend/src/components/LanguageSwitcher.tsx
  frontend/src/components/ThemeToggle.tsx
  frontend/src/pages/Login.tsx
Due: eslint-frontend, prettier-frontend

fix: keep Login language/theme controls from overlapping form
  frontend/src/components/LanguageSwitcher.tsx
  frontend/src/pages/Login.tsx
Due: eslint-frontend, prettier-frontend

fix: use px-based utilities for stable Login layout
  frontend/src/components/LanguageSwitcher.tsx
  frontend/src/components/ThemeToggle.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/pages/Login.tsx
Due: eslint-frontend, prettier-frontend

fix: enforce border-box to prevent input overflow
  frontend/src/globals.css
Due: prettier-frontend

style: improve login controls visibility in dark theme
  frontend/src/components/ThemeToggle.tsx
  frontend/src/pages/Login.tsx
Due: eslint-frontend, prettier-frontend

style: adjust login button size and spacing
  frontend/src/pages/Login.tsx
Due: eslint-frontend, prettier-frontend

style: localize invalid credentials error
  frontend/src/locales/en.json
  frontend/src/locales/ru.json
  frontend/src/locales/uz.json
  frontend/src/pages/Login.tsx
Due: eslint-frontend, prettier-frontend

style: improve reception page spacing
  frontend/src/features/reception/PatientList.tsx
  frontend/src/features/reception/PaymentCells.tsx
  frontend/src/features/reception/ResultRow.tsx
  frontend/src/pages/Reception.tsx
Due: eslint-frontend, prettier-frontend

style: refine reception queue sidebar
  frontend/src/features/reception/QueueSidebar.tsx
Due: eslint-frontend, prettier-frontend

style: improve reception search panel
  frontend/src/features/reception/PatientSearch.tsx
Due: eslint-frontend, prettier-frontend

style: refine reception row actions
  frontend/src/features/reception/PatientSearch.tsx
  frontend/src/features/reception/ResultRow.tsx
Due: eslint-frontend, prettier-frontend

feat(backend): extend soft delete coverage
  backend/alembic/versions/88859223fa53_soft_delete_more_tables.py
  backend/modules/files/models.py
  backend/modules/files/router.py
  backend/modules/finance/models.py
  backend/modules/finance/router.py
  backend/modules/reception/models.py
  backend/modules/reception/router.py
  backend/requirements.txt
Due: ruff-backend, black-backend

chore: remove unused root npm manifests
  package-lock.json
  package.json
Due: none

docs: add Cursor agent development plan
  AGENT_PLAN.md
  CURSOR_AGENT_PLAN.md
  CURSOR_AGENT_PLAN_SUMMARY.md
  README.md
Due: none

style: standardize app page padding
  frontend/src/components/Layout.tsx
  frontend/src/pages/Reception.tsx
Due: eslint-frontend, prettier-frontend

style: improve patients table readability
  frontend/src/pages/Patients.tsx
Due: eslint-frontend, prettier-frontend

style: improve finance page readability
  frontend/src/pages/Finance.tsx
Due: eslint-frontend, prettier-frontend
